.container{
	max-width: 1640px;
	margin: 0 auto;
	width: 100%;
	background-color: red;
}

.icon-Group-1{
	font-size: 122px;
	
}
.header-wraper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation-ul{
	display: flex;

}

.navigation-li{
	margin-right:  15px;

}

